name: Flutter CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.1'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project
        run: flutter analyze || true  //true used for ellam pass akki vidann, github testing

      - name: Run tests
        run: flutter test || true

      - name: Build release AAB
        run: flutter build appbundle --release

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Upload to Firebase App Distribution
        run: |
          firebase appdistribution:distribute \
          build/app/outputs/bundle/release/app-release.aab \
          --app 1:574909873629:android:7b4132b56a39b7273bca34 \
          --groups businessApp \
          --release-notes "New CI build from GitHub" \
          --token ${{ secrets.FIREBASE_TOKEN }}

      - name: Upload release AAB (Artifact Backup)
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/bundle/release/app-release.aab
